//*** Commponent: Form ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: 'Form';

/* ### #{$_module-name} START */

/* Focus styles for keyboard navigation */
:is( 
  a, 
  input:not([type="radio"], [type="checkbox"]), 
  textarea, 
  select, 
  details, 
  summary, 
  [tabindex]
):focus-visible,
input[type="radio"]:focus-visible ~ .rb-checkmark,
input[type="checkbox"]:focus-visible ~ .chb-checkmark {
  border: none;
  outline: 3px solid var(--info-border);//#0066CC; //#FF9800;
  outline-offset: 2px;
}

/* Remove focus outline for mouse and touch interactions */
:is(
  a, 
  input:not([type="radio"], [type="checkbox"]), 
  textarea, 
  select, 
  details, 
  summary, 
  [tabindex]
):focus:not(:focus-visible) {
  outline: none;
}

:is(button):focus-visible {
  border: none;
  outline: 3px solid var(--info-border);//#0066CC; //#FF9800;
  outline-offset: -3px;
  //box-shadow: inset 0 0 0 3px var(--info-border);       
}


form {
  margin: 0;
  padding: 0;
  border: none;
  clear: both;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  clear: both;
}

button {
  cursor: pointer;
  border: none;
  background-color: unset;
  font-family: inherit;

  & * {
    pointer-events: none;
  }
}

// input[type='number'],
// input[type='text'],
// input[type='tel'],
// input[type='email'],
// input[type='password'] {
//   border: unset;
//   background-color: unset;
//   font-family: inherit;
// }

fieldset {
  min-inline-size: unset;
  margin-inline: unset;
  padding-block: unset;
  padding-inline: unset;
}


input[type='number'] {
  appearance: textfield;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:disabled {
    background-color: var(--background-color);
  }
}

//* Custom radio

.rb-custom > input[type='radio'] { // Hide default radio button
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rb-custom { // label with nested input
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 2.75rem;
}

.rb-checkmark { // nested span with class
  position: absolute;
  top: 0;
  left: .75rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--lines-color);
  border-radius: 50%;
  background-color: var(--background-color);
  display: grid;
  place-content: center;

  &::after {
    content: '';
    width: .75rem;
    height: .75rem;
    display: none;
    border-radius: 50%;
    background-color: var(--background-color);
  }
}

.rb-label {
  line-height: 1.25rem;
  color: var(--text-color);
}

.rb-custom:hover > input:not(:checked):not(:disabled) ~ .rb-checkmark {
  transition: background-color .2s ease;
  background-color: var(--background-hover);

  outline-width: 2px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: var(--button-background); //var(--info-border); //#0066CC;
}

// .rb-custom:hover > .rb-checkmark {
//   outline-width: 2px;
//   outline-style: solid;
//   outline-color: var(--info-border); //#0066CC;
// }

.rb-custom > input:checked ~ .rb-checkmark {
  background-color: var(--text-color);
}

.rb-custom > input:checked ~ .rb-checkmark::after {
  display: block;
}

.rb-custom:has(input:disabled) {
  opacity: .5;
  & * {
    color: var(--text-grey-color);
  }
}


//* Custom checkbox
.chb-custom > input[type='checkbox'] { // Hide default checkbox
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.chb-custom {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 2.75rem;

  &:has(input.invalid) > .chb-checkmark {
    border-color: var(--danger-border);
    background-color: var(--danger-background);
  }

  &:has(input.invalid) > .chb-label {
    color: var(--text-red-color);
  }

  &:has(input.invalid):hover > .chb-checkmark {
    outline-color: var(--danger-border);
  }

  &:has(input.invalid)::before {
    content: '';
    position: absolute;
    top: -.5rem;
    left: 0;
    width: 100%;
    height: calc(100% + 1rem);
    outline: 2px solid var(--danger-border);
    outline-offset: 0;
  }
}

.chb-checkmark {
  position: absolute;
  top: 0;
  left: .75rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--lines-color);
  outline: 0 solid;
  outline-color: transparent;
  outline-offset: -1px;
  background-color: var(--background-accent);
  display: grid;
  place-content: center;
  transition: outline-color .2s ease, background-color .2s ease;

  // &:hover { //?
  //   outline-width: 2px;
  //   outline-color: orange;
  // }

  &::after {
    content: '\2714';
    font-size: 1rem;
    line-height: 1em;
    font-weight: 600;
    translate: 0 .075em;
    display: none;
    color: var(--background-accent);
  }
}

.chb-label {
  line-height: 1.25rem;
  color: var(--text-color);
}

.chb-custom:hover > input:not(:checked):not(.invalid) ~ .chb-checkmark {
  background-color: var(--background-hover);
}

.chb-custom:hover > .chb-checkmark {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--info-border); //#0066CC;
}

.chb-custom > input:checked ~ .chb-checkmark {
  background-color: var(--text-color);
}

.chb-custom > input:checked ~ .chb-checkmark::after {
  display: block;
}



.combobox {
  position: relative;
  width: 100%;
  min-width: 15rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: .5rem;

  &__label {
    text-wrap: nowrap;
    font-size: 1rem;
    color: var(--text-color);
    width: auto;

    @media screen and (min-width: 720px) {
      width: auto;
    }
  }

  &__select {
    appearance: none;
    border: 1px solid var(--lines-color);
    border-radius: .25rem;
    padding: 0.25rem 2em .25rem 1em;
    width: 100%;
    height: 3rem;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 1rem;
    font-family: var(--ff-primary);

    @media screen and (min-width: 720px) {
      height: 2rem;
    }
  }

  &__arrow {
    pointer-events: none;
    position: absolute;
    //height: 100%;
    height: 3rem;
    width: 2rem;
    bottom: 0;
    right: 0;

    display: grid;
    place-content: center;

    & .icon {
      width: .75rem;
      height: .75rem;
      fill: var(--text-color);
    }

    @media screen and (min-width: 720px) {
      height: 2rem;
    }
  }

  &__select > option {
    font-size: 1em;
    height: 3rem;
  } 

}


// Validation

input[type="text"]:not(#discount-code),
input[type="email"],
input[type="tel"],
input[type="number"] {

  &.valid,
  &:not(:placeholder-shown):valid {
    border-color: var(--valid-border) !important;
    background-color: var(--valid-background) !important;
    color: var(--valid-text) !important;

    &:focus-visible {
      outline-color: var(--valid-border) !important;
    }

    & + label {
      color: var(--valid-text) !important;
    }
  }

  &.invalid {
    border-color: var(--danger-border) !important;
    background-color: var(--danger-background) !important;
    color: var(--danger-text) !important;
    &:focus-visible {
      outline-color: var(--danger-border) !important;
    }

    & + label {
      color: var(--danger-text) !important;
    }
  }

}

div.valid, span.valid {
  border-color: var(--valid-border) !important;
  background-color: var(--valid-background) !important;
  color: var(--valid-text) !important;

  &:focus-visible {
    outline-color: var(--valid-border) !important;
  }

  & + label {
    color: var(--valid-text) !important;
  }
}

div.invalid, span.invalid {
  border-color: var(--danger-border) !important;
  background-color: var(--danger-background) !important;
  color: var(--danger-text) !important;
  &:focus-visible {
    outline-color: var(--danger-border) !important;
  }

  & + label {
    color: var(--danger-text) !important;
  }
}


// input[type="text"],
// input[type="email"],
// input[type="tel"],
// input[type="number"] {

//   // Valid State (HTML Validation or JS-Added Class)
//   &:not(:placeholder-shown):valid,
//   &:not(:placeholder-shown).valid {
//     border-color: var(--valid-border) !important;
//     background-color: var(--valid-background) !important;
//     color: var(--valid-text) !important;

//     &:focus-visible {
//       outline-color: var(--valid-border) !important;
//     }

//     & + label {
//       color: var(--valid-text) !important;
//     }
//   }

//   // Invalid State (HTML Validation or JS-Added Class)
//   &:not(:placeholder-shown):invalid,
//   &.invalid:not(:placeholder-shown) {
//     border-color: var(--danger-border) !important;
//     background-color: var(--danger-background) !important;
//     color: var(--danger-text) !important;
//     &:focus-visible {
//       outline-color: var(--danger-border) !important;
//     }

//     & + label {
//       color: var(--danger-text) !important;
//     }
    
//   }

//   //Focused Invalid State
//   &:focus:invalid,
//   &:focus.invalid {
//     border-color: #FF9800 !important;
//     background-color: #FFF4E5 !important;
//     color: #F57C00 !important;
//     &:focus-visible {
//       outline-color: #FF9800 !important;
//     }

//     & + label {
//       color: #F57C00 !important;
//     }
//   }
// }

// input[type="checkbox"] {
//   // Checkbox-specific styles
// }


/* ### #{$_module-name} END
/* ------------------------------------------------------------ */