//*** Commponent: Form ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "Form";

/* ### #{$_module-name} START */

form {
  margin: 0;
  padding: 0;
  border: none;
  clear: both;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  clear: both;
}

button {
  border: none;
  background-color: unset;
}


/* ### #{$_module-name} END
/* ------------------------------------------------------------ */