//*** Component: Order Summary ***//


// Name Spaces for common abtracts
@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

// Module Name
$_module-name: "Order Confirmed";

/* ### #{$_module-name} START */

.order-confirmed {
  width: 100%;
  
  
  //min-height: 100vh;
  background-color: white;

  @media screen and (min-width: 720px) {
    display: flex;    
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 720px) and (min-height: 840px) {
    //padding-top: Max(12px, 3.125vw);
    position: relative;
    //top: 4rem;
    height: calc(100vh - 8rem);
  }

  &__wrapper {
    scrollbar-gutter: unset;
    width: 100%;
    // max-width: 848px;
    // height: Min(80vh, 720px);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    max-width: 450px;
    //height: calc(100vh - Max(24px, 6.25vw));
    margin: Max(12px, 3.125vw) auto;

    border-radius: 1rem;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.33);
    color: var(--clr-text);
    background-color: var(--clr-light);

    @media screen and (min-width: 720px) and (min-height: 540px) {
      max-width: calc(450px * 2 + 6rem);
      max-height: calc((100vh - (4rem + Max(24px, 6.25vw))));
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 900px) and (max-height: 840px) {
      max-height: calc((100vh - (8rem + Max(2rem, 6.25vw))));
      //height: 80vh; //min(calc(100vh - 6.25vw), 720px);
    }
    
  }

  &__header {
    align-self: flex-start;

    width: 100%;
    padding: 1rem;
    background-color: var(--clr-dark);

    font-family: var(--ff-primary);
    color: var(--clr-light);
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .02em;
    border-radius: 1rem 1rem 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    & .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: var(--clr-light);
    }
  }

  &__inner {
    height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }

  &__intro {
    padding-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.4;

    display: grid;
    place-content: center;

    p {
      max-width: 75ch;
    }

    p + p {
      margin-top: 1.4em;
      
    }

    @media screen and (min-width: 720px) {
      padding-bottom: 2rem;
    }
  }

  &__delivery-info {
    margin-top: 2rem;
    display: grid;
  }

  &__content {
    display: grid;
    padding: 1rem;
    gap: 3rem;
    
    @media screen and (min-width: 720px) {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      flex-grow: 1;
      gap: unset;
      padding: 1.5rem;
    }
  }

  &__information {
    width: 100%;
    display: grid;

    @media screen and (min-width: 720px) {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      max-height: 100%;
      padding-left: 1rem;
      width: calc(50% - Min(2rem, 3.125vw));
      position: sticky;
      top: 0;
      z-index: 10;
      //overflow-y: auto;
    }
  }

  &__summary {
    //align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    

    @media screen and (min-width: 720px) {
      // display: flex;
      // flex-direction: column;
      width: calc(50% - Min(2rem, 3.125vw));
      max-height: 100%;
      overflow: hidden;
    }
  }

  &__order-data {
    list-style: none;
    border-top: 1px solid var(--clr-lines);

    @media screen and (min-width: 720px) {
      
    }

    @media screen and (min-width: 720px) and (min-height: 840px) {
      scrollbar-gutter: stable;
      flex: 1 1 0;
      overflow-y: auto;
      padding-right: 1rem;
      scrollbar-width: auto;
      scrollbar-color: var(--clr-grey-dark) transparent;
    }
  }

  &__close-btn {
    width: 100%;
    align-self: flex-end;

    cursor: pointer;
    width: 100%;
    padding: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    //font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--clr-light);
    line-height: 2rem;
    border-radius: 0 0 1rem 1rem;

    background-color: var(--clr-dark);
    transition: background-color .2s ease;

    &:hover {
      background-color: var(--clr-bg-green);
    }

    & .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: var(--clr-light);
    }
  }




  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  &__sub-title {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    //color: var(--clr-text)
    display: grid;
    margin-bottom: 1.25rem;

    & > span {
      font-size: 1rem;
      font-weight: 400;
      color: var(--clr-grey-dark);
    }
  }

  &__info-data {
    //margin-bottom: 1.5rem;
    display: grid;
    gap: .5rem;
    padding-inline: .5rem;
  }

  &__info-row {
    display: grid;
    grid-template-columns: 15ch 1fr;
    gap: 1ch;
  }

  &__label {
    font-weight: 600;

    &--large {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    
    &--column {
      flex-direction: column;
    }

    &--red {
      color: var(--clr-text-red);
    }

    &--grey {
      color: var(--clr-grey-dark);
    }

    &--large {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__details {
    //overflow: hidden;
    padding-top: 1rem;
    padding-right: .5rem;
    //box-shadow: 0 -1px 8px rgba(black, .33);
    border-top: 1px solid var(--clr-lines);

    display: grid;
    gap: .25rem;
  }

  &__details-row {
    padding-inline: .5rem;
    display: flex;
    justify-content: space-between;

    &--borde-top {
      //margin-top: .25rem;
      padding-top: .25rem;
      border-top: 2px solid var(--clr-lines);
    }
    &--borde-bottom {
      //margin-top: .25rem;
      padding-bottom: .25rem;
      border-bottom: 2px solid var(--clr-lines);
    }
  }


  &__item {
    height: fit-content;
    padding: .75rem 0;
    list-style: none;
    display: grid;
    gap: 1rem;
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--clr-lines);
    }
  }

  &__item-content-wrapper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  &__item-image-wrapper {
    flex-shrink: 0;
    width: fit-content;
    display: grid;
    place-content: center;
  }

  &__item-image {
    display: inline-block;
    width: 2.5rem;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__item-info {
    display: inline-block;
    width: 100%;
    display: grid;
    //gap: .25rem;    
  }

  &__item-title {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    color: var(--clr-title);
  }

  &__item-row {
    display: flex;
    justify-content: space-between;
    gap: 1ch;
    color: var(--clr-text);
  }

  &__item-label {
    color: var(--clr-grey-dark);
  }

}