//*** Commponent: Product Card ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: 'Product Carsd';

/* ### #{$_module-name} START */

.products {
  // overflow: hidden;
  height: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;


  &.hidden {
    display: none;
    height: 0;
  }

  &__title {
    padding: 4rem 0 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: 700;
    color: var(--title-color);
  }

  &__filters {
    //width: Min(900px + 1rem, 100%);
    margin-bottom: 2rem;
    padding-inline: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: 720px) {
      margin-right: auto;
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__cbx {
    //width: calc(50ch + .5rem);
    width: fit-content;
    display: grid;
    gap: 2px;

    @media screen and (min-width: 720px) {
      //display: flex;
      width: fit-content;
    }
  }

  &__select {
    //width: 30ch;
  }

  &__arrow {
    position: absolute;
  }
}

.products__wrapper {
  display: grid;
  margin: 0 auto;
  min-width: 312px;
  max-width: 450px;
  grid-auto-flow: dense;
  // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  justify-content: center;
  padding-bottom: 1rem;

  @media screen and (min-width: 700px) {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1059px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1417px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 1775px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.product-card {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;

  box-shadow: 0 .25rem .5rem var(--box-shadow-color);
  border-radius: 1rem;

  //** Card Image

  &__image-wrapper {
    
    display: block;
    position: relative;
    border-width: 2px 2px 0 2px;
    border-color: var(--lines-color);
    border-style: solid;
    border-radius: 1rem 1rem 0 0;
    //overflow: hidden;


    & > picture {

    }
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: calc(1rem - 2px) calc(1rem - 2px)  0 0;
  }

  &__rating {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 1rem;
    background-color: rgba(black, .33);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 1rem;
    border-width: 0 2px 0 2px;
    border-color: var(--lines-color);
    border-style: solid;
    background-color: var(--background-accent);
  }

  //** Card Content

  &__info {
    align-self: self-start;
    height: fit-content;
  }

  &__title {
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--title-color);

  }

  &__byline {
    color: var(--text-color);
    min-height: 2.6em;
  }

  &__tags {
    //margin-top: .5rem;
    padding: .5rem 0;
    //border-top: 1px solid var(--lines-color);
    list-style: none;
    display: flex;
    gap: .75rem;
    color: var(--text-grey-color);
  }

  //* Accordion

  &__details {
    background-color: transparent;
    transition: background-color .5s ease;
  }

  &__details[open] {   
    background-color: var(--background-color);
    margin-bottom: 1rem;
    // margin-bottom: 1rem;
    //border: 1px solid var(--lines-color);
  }

  &__details[open] > &__details-content {
    border-color: var(--lines-color);
    opacity: 1;
  }

  &__details-title { // <summary>
    padding: .5rem 0;
    color: var(--text-color);
    font-weight: 600;
    //border-bottom: 1px solid var(--lines-color);
    background-color: var(--background-accent);
  }

  &__details-content {
    padding-block: 1rem .5rem;
    padding-inline: 1rem;
    //border-left: 2px solid var(--lines-color);
    border: 1px solid;
    border-color: transparent;
    color: var(--text-color);
    //background-color: var(--background-color);
    opacity: .5;
    transition: opacity .5s ease, border-color .5s ease;

    h4 + p {
      margin-top: .5rem;
    }

    p + h4 {
      margin-top: 1.5rem;
    }
    p + p {
      margin-top: 1em;
    }
  }

  &__details-heading {
    font-size: 1.125rem;
    font-weight: 600;
  }

  // Gender radio buttons
  &__gender {
    margin-top: auto;
    padding: 1.25rem 0;
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
  }

  //* Price / Quantifier

  &__price-quantity-group {
    align-self: self-start;
    margin-top: 0;
    // width: 100%;
    width: Min(100%, 366px);
    height: fit-content;
    display: flex;
    gap: 1rem;
  }

  &__pricing {
    margin-left: auto;
    //margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (min-width: 720px) {
      margin: 0 auto;
    }
  }

  &__item-price-wrapper {
    display: flex;
    align-items: baseline;
    gap: .5rem;
  }

  &__price {
    font-size: 1.5rem;
    color: var(--text-green-color);
  }

  &__price-unit {
    color: var(--text-color);
  }

  &__price-details {
    display: flex;
    gap: .5ch;
  }

  &__original-price {
    font-size: .75rem;
    color: var(--text-grey-color);
    text-decoration: line-through;
  }

  &__comparison-price {
    font-size: .75rem;
    color: var(--text-grey-color);
    text-align: center;
  }

  &__quantifier {
    display: flex;
    align-items: center;
    color: var(--text-color);

    &-btn {
      z-index: 2;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      color: inherit;
      border: solid var(--lines-color);
      border-width: 1px;
      border-radius: 0 .5rem .5rem 0;
      transition: background-color .2s ease, border-color .2s ease;
      background-color: var(--background-color);

      &:first-of-type {
        //border-width: 1px 0 1px 1px;
        border-radius: .5rem 0 0 .5rem;
      }

      &:hover {
        background-color: var(--background-hover);
        border-color: var(--button-background);
      }
    }

    &-value {
      z-index: 1;
      width: 4rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-size: 1.5rem;
      color: inherit;
      background-color: var(--background-color);
      border: solid var(--lines-color);
      border-width: 1px 0;
      user-select: none;
    }
  }



  // Add to cart button
  &__add-to-cart {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    font-family: var(--ff-primary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--button-text);
    line-height: 2rem;
    border-radius: 0 0 1rem 1rem;

    background-color: var(--button-background);
    transition: background-color .2s ease, color .2s ease;

    & .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: var(--button-text);
      transition: fill .2s ease;
    }

    &:hover {
      background-color: var(--button-background-hover);
      color: var(--button-text-hover);
    }

    &:hover .icon {
      fill: var(--button-text-hover);
    }

    
  }
}


/* ### #{$_module-name} END
/* ------------------------------------------------------------ */