//*** Commponent: Product Card ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "Product Carsd";

/* ### #{$_module-name} START */

.products {
  overflow: hidden;
  height: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;


  &.hidden {
    display: none;
    height: 0;
  }

  &__title {
    padding: 1rem 0;
    font-family: var(--ff-secondary);
    font-size: 3rem;
    font-weight: 700;
    color: var(--clr-title);
  }

  &__filters {
    margin-bottom: 2rem;
  }
}

.products__wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  padding-bottom: 1rem;

  // @media screen and (min-width: 720px) {
  //   grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
  // }
}

.product-card {
  
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;

  box-shadow: 0 .25rem .5rem rgba(black, .33);
  border-radius: 1rem;

  //** Card Image

  &__image-wrapper {
    
    display: block;
    position: relative;
    border-width: 2px 2px 0 2px;
    border-color: var(--clr-lines);
    border-style: solid;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;

    & > picture {

    }
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  &__rating {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 1rem;
    background-color: rgba(black, .33);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 1rem;
    border-width: 0 2px 0 2px;
    border-color: var(--clr-lines);
    border-style: solid;
    background-color: var(--clr-light);
  }

  //** Card Content

  &__info {
    align-self: self-start;
    height: fit-content;
  }

  &__title {
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-title);

  }

  &__byline {
    color: var(--clr-text);
    min-height: 2.6em;
  }

  &__tags {
    //margin-top: .5rem;
    padding: .5rem 0;
    //border-top: 1px solid var(--clr-lines);
    list-style: none;
    display: flex;
    gap: .75rem;
    color: var(--clr-grey-dark);
  }

  //* Accordion

  &__details {
    background-color: transparent;
    transition: background-color .5s ease;
  }

  &__details[open] {   
    background-color: white;
    margin-bottom: 1rem;
    // margin-bottom: 1rem;
    //border: 1px solid var(--clr-lines);
  }

  &__details[open] > &__details-content {
    border-color: var(--clr-lines);
    opacity: 1;
  }

  &__details-title { // <summary>
    padding: .5rem 0;
    color: var(--clr-text);
    font-weight: 600;
    //border-bottom: 1px solid var(--clr-lines);
    background-color: var(--clr-light);
  }

  &__details-content {
    padding-block: 1rem .5rem;
    padding-inline: 1rem;
    //border-left: 2px solid var(--clr-lines);
    border: 1px solid;
    border-color: transparent;
    color: var(--clr-text);
    //background-color: white;
    opacity: .5;
    transition: opacity .5s ease, border-color .5s ease;

    h4 + p {
      margin-top: .5rem;
    }

    p + h4 {
      margin-top: 1.5rem;
    }
    p + p {
      margin-top: 1em;
    }
  }

  &__details-heading {
    font-size: 1.125rem;
    font-weight: 600;
  }

  // Gender radio buttons
  &__gender {
    margin-top: auto;
    padding: .75rem .75rem;
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
  }

  //* Price / Quantifier

  &__price-quantity-group {
    align-self: self-end;
    margin-top: .5rem;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 1rem;
  }

  &__pricing {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__item-price-wrapper {
    display: flex;
    align-items: baseline;
    gap: .5rem;
  }

  &__price {
    font-size: 1.5rem;
    color: var(--clr-text-green);
  }

  &__price-unit {
    color: var(--clr-text);
  }

  &__price-details {
    display: flex;
    gap: .5ch;
  }

  &__original-price {
    font-size: .75rem;
    color: var(--clr-grey-dark);
    text-decoration: line-through;
  }

  &__comparison-price {
    font-size: .75rem;
    color: var(--clr-grey-dark);
    text-align: center;
  }

  &__quantifier {
    display: flex;
    align-items: center;
    color: var(--clr-title);

    &-btn {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      color: inherit;
      border: solid var(--clr-lines);
      border-width: 1px 1px 1px 0;
      border-radius: 0 .5rem .5rem 0;
      transition: background-color .2s ease;
      background-color: white;

      &:first-of-type {
        border-width: 1px 0 1px 1px;
        border-radius: .5rem 0 0 .5rem;
      }

      &:hover {
        background-color: #E2E3E5;
      }
    }

    &-input {
      width: 4rem;
      height: 3rem;
      text-align: center;
      font-size: 1.5rem;
      color: inherit;
      border: solid var(--clr-lines);
      border-width: 1px;
    }
  }



  // Add to cart button
  &__add-to-cart {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--clr-light);
    line-height: 2rem;
    border-radius: 0 0 1rem 1rem;

    background-color: var(--clr-dark);
    transition: background-color .2s ease;

    &:hover {
      background-color: var(--clr-bg-green);
    }

    & .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: var(--clr-light);
    }

    &:hover {
      
    }

  }


}


/* ### #{$_module-name} END
/* ------------------------------------------------------------ */