//*** Layout: Footer ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "Page Footer";

/* ### #{$_module-name} START */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  //overflow: hidden;
  //align-self: flex-end;
  margin-top: auto;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  
  background-color: var(--clr-dark);
  color: var(--clr-light);

  &__inner {
    margin-inline: auto;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > p {
      text-align: center;
    }
  }

}

/* ### #{$_module-name} END
/* ------------------------------------------------------------ */