//*** Layout: Footer ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "Page Footer";

/* ### #{$_module-name} START */

.footer {
  //overflow: hidden;

  // position: sticky;
  // bottom: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);

}

/* ### #{$_module-name} END
/* ------------------------------------------------------------ */