//*** Layout: Header ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "Page Header";

/* ### #{$_module-name} START */

.header {
  z-index: 999;
  position: sticky;
  top: 0;

  width: Min(100%, 1920px);
  margin-inline: auto;
  margin-bottom: 1rem;
  color: var(--clr-light);
  background-color: var(--clr-dark);

  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;

  &__brand {
    padding: .5rem 2rem;
    > .icon {
      width: 11.25rem;
      height: 3rem;
      fill: var(--clr-light);
    }
  }

  &__nav {
    min-width: 100%;
  }

  &__cart {
    position: relative;
    display: flex;
    height: 100%;
  }

  &__cart-btn {
    cursor: pointer;
    padding: 0 2rem 0 1rem;
    color: var(--clr-light);

    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.5rem;

    & > .icon {
      display: none;
      width: 2rem;
      height: 2rem;
      fill: var(--clr-light);

      @media screen and (min-width: 720px) {
        display: inline-block;
      }
    }

    // show header cart
    @media screen and (min-width: 720px) {
      // &:hover ~ .header__cart-dropdown {    
      //   visibility: visible;
      //   translate: 0;
      // }
    }
  }

  &__cart-total {
    display: none;

    @media screen and (min-width: 720px) {
      display: inline-block;
    }
  }

  &__to-checkout-mobile {
    display: inline-block;

    & > .icon {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--clr-light);
      transition: fill .15s ease;
    }

    & > .icon:hover {
      fill: var(--grey-light);
    }

    @media screen and (min-width: 720px) {
      display: none;
    }
  }

  &__to-checkout {
    display: none;

    @media screen and (min-width: 720px) {
      cursor: pointer;
      position: relative;
      padding: 0 1rem;
      text-transform: uppercase;
      background-color: var(--clr-bg-green);
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: .04em;
      display: flex;
      align-items: center;
      transition: background-color .2s ease;

      &.hidden {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        translate: -50% -50%;
        rotate: 45deg;

        width: 1rem;
        height: 1rem;
        background-color: inherit;
      }

      &:hover {
        background-color: #6E6E6E;
      }
    }
  }

  //* Header dropdown cart
    
  &__cart-dropdown {
    display: block;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    translate: 100%;
    width: Min(100vw, 400px);
    height: fit-content;
    max-height: 100vh;
    background-color: white;
    box-shadow: 0 .25rem .5rem rgba(black, .33);
    transition: translate .5s ease;

    &.active {
      visibility: visible;
      translate: 0;
    }
    // &:hover {
    //   visibility: visible;
    //   translate: 0;
    // }

    @media screen and (min-width: 720px) {
      max-height: calc(100vh - 5rem);
      border-radius: 0 0 0 1rem;
    }
  }

  &__cart-dropdown-inner {
    display: block;
    padding: Max(12px, var(--vwx) * 3.125);

    @media screen and (min-width: 720px) {
      border-left: 2px solid var(--clr-lines);
    }
  }

  &__cart-items {
    overflow-y: scroll;
  }


  &__cart-summary {
    padding: 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__cart-label {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
    color: var(--clr-text);
  }

  &__cart-subtotal {
    font-size: 1rem;
    line-height: 1;
    color: var(--clr-grey-dark);
  }

  &__cart-dropdown-checkout-btn {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--clr-light);
    line-height: 2rem;

    background-color: var(--clr-dark);
    //border-radius: 0 0 1rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    transition: background-color .2s ease;

    &:hover {
      background-color: var(--clr-bg-green);
    }

    & .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: var(--clr-light);
    }

    @media screen and (min-width: 720px) {
      border-radius: 0 0 0 1rem;
    }
  }

}

/* ### #{$_module-name} END
/* ------------------------------------------------------------ */