//*** Layout: Header ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: 'Page Header';

/* ### #{$_module-name} START */

.header {
  scrollbar-gutter: stable;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //margin-bottom: 1rem;
  color: var(--header-color);
  background-color: var(--header-background);
  display: flex;

  &__inner {
    margin-inline: auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: clip;
  }

  &__brand {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    margin-right: auto;
    padding-block: .5rem;
    padding-inline: 1rem;

    > .icon {
      // width: auto;
      height: 3rem;
      fill: var(--header-color);
    }
    
    @media screen and (min-width: 720px) {
      padding-inline: 2rem 1rem;
    }
  }

  &__brand-icon-head {
    display: inline-block;
    width: 3.8125rem;
  }

  &__brand-icon-text {
    display: none;
    width: 0;

    @media screen and (min-width: 320px) {
      display: inline-block;
      width: 7.6875rem;
    }
  }

  &__nav {
    min-width: 100%;
  }

  &__theme-mode-btn {
    //margin-left: auto;
    padding-right: .5rem;
    padding-block: .5rem;

    & .icon {
      width: 2rem;
      height: 2rem;
      fill: var(--header-color);
    }

    @media screen and (min-width: 720px) {
      padding-right: 1rem;
    }
  }

  &__cart {
    //margin-left: auto;
    position: relative;
    display: flex;
    height: 100%;
  }

  &__cart-inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &.change {
      animation: horizontal-shaking 0.25s linear 2;
    }

    @media screen and (min-width: 720px) {
      //min-width: 25rem;
    }
  }

  &__cart-btn {
    cursor: pointer;
    height: 4rem;
    margin-left: auto;
    padding: 0 2rem 0 0;
    color: var(--header-color);

    display: flex;
    align-items: center;
    //gap: 1rem;

    font-size: 1.5rem;

    @media screen and (min-width: 720px) {
      padding: 0 2rem 0 1rem; // left 1rem
    }

    & > .icon {
      display: none;
      width: 2rem;
      height: 2rem;
      fill: var(--header-color);

      @media screen and (min-width: 720px) {
        display: inline-block;
      }
    }

    &.change > .icon {
      animation: shaking 0.25s linear 2;
    }

    // show header cart
    @media screen and (min-width: 720px) {
      // &:hover ~ .header__cart-dropdown {    
      //   visibility: visible;
      //   translate: 0;
      // }
    }
  }

  &__cart-count {
    padding-left: .75rem;
  }

  &__cart-total {
    display: none;

    @media screen and (min-width: 720px) {
      display: inline-block;
    }
  }

  &__to-checkout-mobile {
    display: inline-block;
    display: grid;
    place-content: center;
    padding: .25rem;

    & > .icon {
      padding: .25rem;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--header-color);
      transition: fill .15s ease;
    }

    & > .icon:hover {
      fill: var(--background-green);
    }

    &.change > .icon {
      animation: shaking 0.25s linear 2;
    }

    @media screen and (min-width: 720px) {
      display: none;
    }
  }

  &__to-checkout {
    display: none;
    height: 4rem;

    @media screen and (min-width: 720px) {
      cursor: pointer;
      position: relative;
      padding: 0 1rem;
      text-transform: uppercase;
      background-color: var(--background-green);
      color: var(--clr-white);
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: .04em;
      display: flex;
      align-items: center;
      transition: background-color .2s ease;

      &.hidden {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        translate: -50% -50%;
        rotate: 45deg;

        width: 1rem;
        height: 1rem;
        background-color: inherit;
      }

      &:hover {
        background-color: #808080; // #6E6E6E;
      }
    }
  }

  //* Header dropdown cart
    
  &__cart-dropdown {
    z-index: 800;
    display: block;
    visibility: hidden;
    //overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    translate: 100%;
    width: Min(100vw, 25rem);
    height: fit-content;
    //max-height: 100vh;
    max-height: calc(100vh - 5rem);
    background-color: var(--background-accent);
    box-shadow: 0 .25rem .5rem var(--box-shadow-color);
    transition: translate .5s ease, opacity .5s ease;

    &.active {
      transition: translate .5s ease;
      visibility: visible;
      opacity: 1;
      translate: 0;
    }
    // &:hover {
    //   visibility: visible;
    //   translate: 0;
    // }

    @media screen and (min-width: 720px) {
      max-height: calc(100vh - 5rem);
      border-radius: 0 0 0 1rem;
    }
  }

  &__cart-dropdown-inner {
    //overflow-y: hidden;
    display: block;
    max-height: 100%;
    padding-left: Max(12px, var(--vwx) * 3.125);
    @media screen and (min-width: 720px) {
      padding-left: 1.5rem;
      border-left: 2px solid var(--lines-color);
    }
  }

  &__cart-items {
    overflow-y: auto;
    padding-right: Max(12px, var(--vwx) * 3.125);
    max-height: calc(100vh - 12.5rem);

    @media screen and (min-width: 720px) {
      padding-right: 1.5rem;
      //max-height: calc(100vh - 11.25rem);
    }
    
  }


  &__cart-summary {
    margin-right: 2rem;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid var(--lines-color);
  }

  &__cart-label {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
  }

  &__cart-subtotal {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--text-color);
  }

  &__cart-dropdown-checkout-btn {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    
    font-family: var(--ff-primary);
    font-size: 1.5rem;font-weight: 600;
    color: var(--button-text);
    line-height: 2rem;

    background-color: var(--button-background);
    //border-radius: 0 0 1rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    transition: background-color .2s ease;

    &:hover {
      background-color: var(--button-background-hover);
      color: var(--button-text-hover);

      .icon {
        fill: var(--button-text-hover);
      }
    }

    & .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: var(--button-text);
    }

    @media screen and (min-width: 720px) {
      border-radius: 0 0 0 1rem;
    }
  }

}

/* ### #{$_module-name} END
/* ------------------------------------------------------------ */