//*** Base: General ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "General CSS";

/* ### #{$_module-name} START */

html {
  overflow: hidden;
  font-size: 100%;
  line-height: 1.2;
}

body {
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.3;

  font-family: var(--ff-primary);

  &.no-scroll {
    overflow: hidden;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  &-text {
    z-index: 99;
    visibility: hidden;
    position: absolute;
    top: -.25rem;
    left: 0;
    translate: 0 -100%;
    padding: 0.5rem;
    white-space: wrap;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.3;
    opacity: 0;
    border-radius: .25rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    transition: opacity .5s ease;
  }

  &-text::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: -0.25rem;
    left: 1rem;
    rotate: 45deg;
    width: 0.5rem;
    height: 0.5rem;
    background-color: inherit;
  }

  &:hover &-text {
    visibility: visible;
    opacity: 1;
  }
}


.svg, .clip-path {
  position: absolute;
  width: 0;
  height: 0;
}

.hidden {
  display: none;
}

.icon {
  fill: inherit;
  transition: fill .2s ease;
}

button:hover .icon {
  animation: shaking 0.2s linear 2;
}



/* ### #{$_module-name} END
/* ------------------------------------------------------------ */