//*** Page specific styles for: Shopping Cart ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: "Page specific styles for: Shopping Cart";

/* ### #{$_module-name} START */


.shopping-cart {
  margin-bottom: 2rem;
  
  @media screen and (min-width: 720px) {
    //margin-top: 2rem;
  }

  &.hidden {
    display: none;
  }


  &__wrapper {

    height: 100%;
    display: grid;
    gap: 1rem;

    @media screen and (min-width: 720px) {
      display: flex;
      justify-content: flex-start;
      gap: 0;
    }

    &.hidden {
      display: none;
      height: 0;
    }
  }

}

.cart, .checkout {
  width: 100%;
  
  @media screen and (min-width: 720px) {
    //overflow: hidden;
    width: 50%;
    height: 100%;
  }
}

.cart__header, .checkout__header, .checkout__group-header {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-dark);

  font-family: var(--ff-primary);
  color: var(--clr-light);
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .02em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    fill: var(--clr-light);
  }
}

.cart {
  // float: left;
  background-color: var(--clr-light);
  box-shadow: 0 .25rem .5rem rgba(black, .33);
  border-radius: 1rem;
  

  // border-radius: 1rem;
  // border-width: 0 0 1px;
  // border-style: solid;
  // border-color: var(--clr-lines);
  
  
  @media screen and (min-width: 720px) {
    //overflow: hidden;
    order: 1;
    position: sticky;
    top: 5rem;
    margin-right: 1rem; //.5rem;
  }

  &__header {
    border-radius: 1rem 1rem 0 0;
  }

  &__header-title {
    display: flex;
    gap: .5rem;
  }

  &__counter {
    color: var(--clr-grey-light);
  }

  &__close {
    cursor: pointer;
    padding: .25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: inherit;
    font-size: 1.25rem;
    color: inherit;
    transition: color .2s ease;

    &:hover {
      color: var(--clr-grey-light);
      & .icon {
        fill: #FF3D3D;
      }
    }
  }

  &__items {
    padding: 1rem;
    border-width: 0 2px;
    border-style: solid;
    border-color: var(--clr-lines);
  }

  &__item {
    height: fit-content;
    padding: 1rem 0;
    list-style: none;
    display: grid;
    gap: 1rem;
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--clr-lines);
    }
  }

  &__item-content-wrapper {
    position: relative;
    display: flex;
    gap: 1rem;
  }

  &__item-image-wrapper {
    flex-shrink: 0;
    width: fit-content;
    display: grid;
    place-content: center;
  }

  &__item-image {
    display: inline-block;
    width: 5rem;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__item-info {
    width: 100%;
    display: grid;
    gap: .5rem;    
  }

  &__item-title {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
    color: var(--clr-title);
  }

  &__item-gender {
    line-height: 1;
    color: var(--clr-text);
  }

  &__item-price {
    line-height: 1;
    color: var(--clr-text-green);
  }

  &__item-controlls {
    margin-top: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-quantity-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--clr-title);

    & > button {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
      font-weight: 600;
      color: inherit;
      border: solid var(--clr-lines);
      border-width: 1px 1px 1px 0;
      border-radius: 0 .25rem .25rem 0;
      transition: background-color .2s ease;
      background-color: white;

      &:first-of-type {
        border-width: 1px 0 1px 1px;
        border-radius: .25rem 0 0 .25rem;
      }

      &:hover {
        background-color: #E2E3E5;
      }
    }

    & > input {
      width: 3.75rem;
      height: 2.5rem;
      text-align: center;
      font-size: 1.25rem;
      color: inherit;
      border: solid var(--clr-lines);
      border-width: 1px;
      user-select: none;
    }
  }

  &__item-remove {
    & > .icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--clr-grey-dark);
      transition: fill .2s ease;
    }

    &:hover > .icon {
      fill: var(--clr-text-red);
      //animation: shaking 0.2s linear 2;
    }
  }

  &__item-line-total-wrapper {
    //margin-top: .25rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__item-label {
    font-weight: 600;
    color: var(--clr-text);
  }

  &__item-line-total-inner {
    display: flex;
    gap: .5rem;
  }

  &__item-line-total {
    font-weight: 600;
    color: var(--clr-text-red);
  }

  &__item-original-price {
    color: var(--clr-grey-dark);
    text-decoration: line-through;
  }

  
  &__summary {
    padding: 1rem;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: var(--clr-lines);
    border-radius: 0 0 1rem 1rem;
    display: grid;
    gap: .75rem;
  }

  &__summary-row {
    @extend .cart__item-line-total-wrapper;
  }

  &__summary-label {
    @extend .cart__item-label;
    
    &--large {
      font-size: 1.5rem;
    }
  }
  
  &__summary-total {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__summary-info {
    text-align: right;
    color: var(--clr-grey-dark);
  }

}


.checkout {
  order: 2;
  border-radius: 1rem;
  background-color: transparent;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.33);

  @media screen and (min-width: 720px) {
    margin-left: 1rem; //.5rem;
  }

  &__group {
    width: 100%;
    //box-shadow: 0 .25rem .5rem rgba(black, .33);
  }

  &__header {
    &--first {
      border-radius: 1rem 1rem 0 0;
    }
  }

  &__group-info {
    padding: 1.5rem 0;
  }

  &__group-inner {
    width: 100%;
    padding: 0 1rem 1rem;
    border: solid var(--clr-lines);
    border-width: 0 2px;
    background-color: var(--clr-light);

    & > :last-child {
      margin-bottom: 1rem;
    }

    &--shipping {
      padding-bottom: 0;
    }

    &--shipping > :last-child {
      margin-bottom: 0;
    }
  }

  input::placeholder {
    opacity: 0;
  }

  input:focus::placeholder {
    color: var(--clr-grey-dark);
    opacity: .5;
  }

  &__input-wrapper, &__input-wrapper-inner {
    position: relative;

    & label:not(.chb-custom) {
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      width: 100%;
      padding-left: 1rem;
      color: #767676;
      font-size: 1rem;
      line-height: 1;
      font-weight: 600;
      transition:
        font-size .2s ease,
        padding .2s ease,
        top .2s ease,
        translate .2s ease
      ;
    }

    // &:focus-within label:not(.chb-custom),
    // & input:not(:placeholder-shown) ~ label {
    //   top: 0.875rem;
    //   transform: translateY(0);
    //   padding: 0 0 0 0.75rem;
    //   font-size: 0.75rem;
    // }

    &:focus-within label:not(.chb-custom),
    &:focus-within input:not(:placeholder-shown) ~ label:not(.chb-custom),
    &:has(input:not(:placeholder-shown)) > label:not(.chb-custom) {
      top: .875rem;
      transform: translateY(0);
      padding: 0 0 0 .75rem;
      font-size: .75rem;
    }

    & label:not(.chb-custom):has( + span.js-input-message) {
      top: calc(50% - .65rem);
    }

    & input:not(.chb-custom > input, .rb-custom > input) {
      width: 100%;
      padding: 1.5rem 1rem 0;
      line-height: 2.375rem;
      font-size: 1.125rem;
      border: 1px solid var(--clr-lines);
      background-color: white;
      color: var(--clr-text);

      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        //top: .75rem;
        top: .875rem;
        padding: 0 0 0 .75rem;
        font-size: .75rem;
      }
    }
  }

  &__input-wrapper--date-cvv {
    margin-bottom: .5rem;
    display: grid;
  }

  &__input-wrapper--inner-date-cvv {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    //border: 1px solid var(--clr-lines);

    & input {
      border: none;
    }
  }

  &__input-message {
    display: block;
    height: auto;
    // margin-top: .25rem;
    //margin-bottom: .5rem;
    padding-inline: .25rem;
    line-height: 1.3;
    color: #D32F2F;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;

    &.visible {
      visibility: visible;
      opacity: 1;
      height: auto;
      min-height: 1.3rem;
    }
  }

  &__input--expire-month {
    z-index: 0;
    text-align: right !important;
    padding-right: .5rem !important;
    border-right: none !important;
    background-color: none !important;

    &:focus-visible {
      z-index: 2 !important;
    }
  }

  &__input--expire-year {
    z-index: 0;
    text-align: left !important;
    padding-left: .5rem !important;
    border-left: none !important;

    background-color: none !important;

    &:focus-visible {
      z-index: 2 !important;
    }
  }

  &__date-cvv-divider {
    z-index: 9;
    padding-top: 1.5rem;
    line-height: 2.375rem;
    font-size: 1.125rem;
    width: 1ch;
    margin-inline: -.5ch;
  }

  &__input-wrapper--intro {
    margin-bottom: 1rem;
  }

  &__input-wrapper--billing {
    margin-bottom: .5rem;
  }

  &__input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;

    &.js-input-wrapper > .checkout__input-message {
      grid-column: span 2;
    }
    
    &.js-input-wrapper > .checkout__input-wrapper {
      margin-bottom: 0;
    }

    &.js-input-wrapper {
      margin-bottom: .5rem;
    }
  }

  &__form {
    width: 100%;
    display: grid;
  }

  &__form-group-header-light {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    color: var(--clr-text);
    font-weight: 600;
  }

  &__cb-label {
    max-width: 70ch;
  }

  &__chb-single, &__rb-single {
    //margin-left: .75rem;
    display: flex;
    justify-content: flex-start;
  }

  &__rb-row {
    margin-left: .75rem;
    padding: .75rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__continue-btn {
    width: 100%;
    //margin-bottom: 1rem;
    padding: 1.375rem;
    background-color: var(--clr-bg-green);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1;
    //border-radius: 0 0 1rem 1rem;
  }

  &__rb-label {
    width: 100%;
    display: flex;
    gap: .75rem;
  }

  &__shipping-price {
    color: var(--clr-grey-dark);
  }

  &__shipping-alt {
    //width: 100%;
    padding: 1rem 1rem;
    margin-inline: -1rem;
    display: grid;
    gap: 1rem;
    border-top: 1px solid var(--clr-lines);

    &:has(input:checked) {
      background-color: #E6F3E6;
    }
  }

  &__shipping-alt-info {
    margin-left: .75rem;
    padding-bottom: .75rem;
  }

  &__date-cvv-divider {
    color: var(--clr-grey-dark);
  }


  // Checkout order
  &__pay-btn {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--clr-light);
    line-height: 2rem;
    border-radius: 0 0 1rem 1rem;

    background-color: var(--clr-dark);
    transition: background-color .2s ease;

    &:hover {
      background-color: var(--clr-bg-green);
    }

    & .icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: var(--clr-light);
    }
  }
  


}


/* ### #{$_module-name} END
/* ------------------------------------------------------------ */