@charset "UTF-8";
/* ### CSS Reset START */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Remove Margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, figure, hr, form, fieldset, legend, button, input, textarea {
  margin: 0;
  padding: 0;
}

div {
  display: block;
  unicode-bidi: isolate;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* <a> elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Responsive images and video */
img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    -webkit-transition: none;
    transition: none;
  }
}
/* ### CSS Reset END
/* ------------------------------------------------------------ */
/* ### ROOT START */
:root {
  interpolate-size: allow-keywords;
  /* Viewport */
  --vwx: 1vw;
  /* Font Sizes */
  --fs-100: Max(0.75rem, var(--vwx) * 0.390625 + 0.65625rem);
  --fs-200: Max(0.875rem, var(--vwx) * 0.455729 + 0.765625rem);
  --fs-300: Max(1rem, var(--vwx) * 0.520833 + 0.875rem);
  --fs-400: Max(1.25rem, var(--vwx) * 0.781198 + 1.062513rem);
  --fs-500: Max(1.5625rem, var(--vwx) * 1.150035 + 1.286492rem);
  --fs-600: Max(1.953125rem, var(--vwx) * 1.668921 + 1.552584rem);
  --fs-700: Max(2.441406rem, var(--vwx) * 2.394646 + 1.866691rem);
  --fs-800: Max(3.051758rem, var(--vwx) * 3.404625 + 2.234648rem);
  --fs-900: Max(3.814697rem, var(--vwx) * 4.80419 + 2.661692rem);
  --fs-text-100: Max(0.75rem, var(--vwx) * 0.390625 + 0.65625rem);
  --fs-text-200: Max(0.875rem, var(--vwx) * 0.455729 + 0.765625rem);
  --fs-text-300: Max(1rem, var(--vwx) * 0.520833 + 0.875rem);
  --fs-text-400: Max(1.125rem, var(--vwx) * 0.585938 + 0.984375rem);
  --fs-text-500: Max(1.25rem, var(--vwx) * 0.651042 + 1.09375rem);
  /* Spacing */
  --gap-025: Max(0.125rem, var(--vwx) * 0.1302 + 0.0938rem);
  --gap-050: Max(0.25rem, var(--vwx) * 0.2604 + 0.1875rem);
  --gap-075: Max(0.375rem, var(--vwx) * 0.3906 + 0.2813rem);
  --gap-100: Max(0.5rem, var(--vwx) * 0.5208 + 0.375rem);
  --gap-150: Max(0.75rem, var(--vwx) * 0.7813 + 0.5625rem);
  --gap-200: Max(1rem, var(--vwx) * 1.0417 + 0.75rem);
  --gap-250: Max(1.25rem, var(--vwx) * 1.3021 + 0.9375rem);
  --gap-300: Max(1.5rem, var(--vwx) * 1.5625 + 1.125rem);
  --gap-350: Max(1.75rem, var(--vwx) * 1.8229 + 1.3125rem);
  --gap-400: Max(2rem, var(--vwx) * 2.0833 + 1.5rem);
  --gap-450: Max(2.25rem, var(--vwx) * 2.3438 + 1.6875rem);
  --gap-500: Max(2.5rem, var(--vwx) * 2.6042 + 1.875rem);
  --gap-550: Max(2.75rem, var(--vwx) * 2.8646 + 2.0625rem);
  --gap-600: Max(3rem, var(--vwx) * 3.125 + 2.25rem);
  --gap-650: Max(3.25rem, var(--vwx) * 3.3854 + 2.4375rem);
  --gap-700: Max(3.5rem, var(--vwx) * 3.6458 + 2.625rem);
  --gap-750: Max(3.75rem, var(--vwx) * 3.9063 + 2.8125rem);
  --gap-800: Max(4rem, var(--vwx) * 4.1667 + 3rem);
  --gap-850: Max(4.25rem, var(--vwx) * 4.4271 + 3.1875rem);
  --gap-900: Max(4.5rem, var(--vwx) * 4.6875 + 3.375rem);
  --gap-950: Max(4.75rem, var(--vwx) * 4.9479 + 3.5625rem);
  --gap-1000: Max(5rem, var(--vwx) * 5.2083 + 3.75rem);
  --page-section-block-padding: Max(2rem, var(--vwx) * 4.1667 + 1rem);
  --clr-light: #F9FBFF;
  --clr-dark: #0C2340;
  --clr-title: #3874C6;
  --clr-text: #285796;
  --clr-lines: #C7C9CC;
  --clr-grey-dark: #747474;
  --clr-grey-light: #ADADAD;
  --clr-text-red: #8B0000;
  --clr-text-green: #008700;
  --clr-bg-green: #198553;
  --ff-primary: "Cronos Pro";
  --ff-secondary: "Canto Pen";
  --primary-left-adjust: -.075em;
  --secondary-left-adjust: -.126em;
}
@media screen and (min-width: 2540px) and (min-aspect-ratio: 2/1) {
  :root {
    --vwx: 2vh;
  }
}

/* ### ROOT END
/* ------------------------------------------------------------ */
/* ### Spacing utility classes START */
/* ### Spacing utility classes END
/* ------------------------------------------------------------ */
/* ### Container START */
.page-section {
  padding-block: var(--gap-400);
}

.container {
  width: 100%;
}
.container, .container--boxed, .container--narrow {
  padding-inline: max(12px, 3.125 * var(--vwx));
}
.container--boxed, .container--narrow {
  margin: 0 auto;
}
.container--full-width {
  width: 100%;
}
.container--boxed {
  max-width: 1920px;
}
.container--narrow {
  max-width: min(83.3333333333%, 1536px);
}

/* ### Container END
/* ------------------------------------------------------------ */
/* ### Global Animations START */
@-webkit-keyframes shaking {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@keyframes shaking {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
/* ### Global Animations END
/* ------------------------------------------------------------ */
/* ### Font Faces START */
@font-face {
  font-family: "Canto Pen";
  src: local(""), url("../fonts/canto-pen-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
}
@font-face {
  font-family: "Cronos Pro";
  src: local(""), url("../fonts/cronos-pro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
}
@font-face {
  font-family: "Cronos Pro";
  src: local(""), url("../fonts/cronos-pro-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
}
/* ### Font Faces END
/* ------------------------------------------------------------ */
/* ### Colors START */
/* ### Colors END
/* ------------------------------------------------------------ */
/* ### Typography START */
h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  font-weight: unset;
}

/* ### Typography END
/* ------------------------------------------------------------ */
/* ### General CSS START */
html {
  overflow: hidden;
  font-size: 100%;
  line-height: 1.2;
}

body {
  overflow-y: scroll;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  line-height: 1.3;
  font-family: var(--ff-primary);
}
body.no-scroll {
  overflow: hidden;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip-text {
  z-index: 99;
  visibility: hidden;
  position: absolute;
  top: -0.25rem;
  left: 0;
  translate: 0 -100%;
  padding: 0.5rem;
  white-space: wrap;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.3;
  opacity: 0;
  border-radius: 0.25rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.tooltip-text::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -0.25rem;
  left: 1rem;
  rotate: 45deg;
  width: 0.5rem;
  height: 0.5rem;
  background-color: inherit;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.svg, .clip-path {
  position: absolute;
  width: 0;
  height: 0;
}

.hidden {
  display: none;
}

.icon {
  fill: inherit;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

button:hover .icon {
  -webkit-animation: shaking 0.2s linear 2;
          animation: shaking 0.2s linear 2;
}

/* ### General CSS END
/* ------------------------------------------------------------ */
/* ### Form START */
form {
  margin: 0;
  padding: 0;
  border: none;
  clear: both;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  clear: both;
}

button {
  cursor: pointer;
  border: none;
  background-color: unset;
  font-family: inherit;
}
button * {
  pointer-events: none;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rb-custom > input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rb-custom {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 2rem;
}

.rb-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--clr-lines);
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-content: center;
}
.rb-checkmark::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: none;
  border-radius: 50%;
  background-color: var(--clr-light);
}

.rb-label {
  line-height: 1.25rem;
  color: var(--clr-text);
}

.rb-custom:hover > input:not(:checked) ~ .rb-checkmark {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #E2E3E5;
}

.rb-custom > input:checked ~ .rb-checkmark {
  background-color: var(--clr-text);
}

.rb-custom > input:checked ~ .rb-checkmark::after {
  display: block;
}

.chb-custom > input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.chb-custom {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 2rem;
}

.chb-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--clr-lines);
  background-color: white;
  display: grid;
  place-content: center;
}
.chb-checkmark::after {
  content: "✔";
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: 600;
  translate: 0 0.075em;
  display: none;
  color: var(--clr-light);
}

.chb-label {
  line-height: 1.25rem;
  color: var(--clr-text);
}

.chb-custom:hover > input:not(:checked) ~ .chb-checkmark {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #E2E3E5;
}

.chb-custom > input:checked ~ .chb-checkmark {
  background-color: var(--clr-text);
}

.chb-custom > input:checked ~ .chb-checkmark::after {
  display: block;
}

/* ### Form END
/* ------------------------------------------------------------ */
/* ### Accordion START */
details.accordion {
  position: relative;
  width: 100%;
}
details.accordion::details-content {
  overflow: hidden;
  display: block;
  block-size: 0;
  overflow: hidden;
  -webkit-transition-property: block-size, content-visibility;
  transition-property: block-size, content-visibility;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}
details.accordion[open]::details-content {
  /* Fallback for browsers that don't support calc-size() function */
  block-size: auto;
  /* calc-size() function allows transition to height: auto; */
  block-size: calc-size(auto, size);
}
details.accordion summary {
  cursor: pointer;
  position: relative;
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem;
}
details.accordion summary::marker {
  content: none;
}
details.accordion summary::before {
  content: "+";
  position: absolute;
  left: 0;
  width: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: grid;
  place-content: center;
}
details.accordion[open] summary::before {
  content: "−";
}
/* ### Accordion END
/* ------------------------------------------------------------ */
/* ### Rating Paws START */
.rating-paw {
  display: inline-block;
  --paw-color-solid: goldenrod;
  --paw-color-empty: rgb(26,26,26);
  width: 2rem;
  height: auto;
  aspect-ratio: 1;
  -webkit-clip-path: url(#paw-clip);
          clip-path: url(#paw-clip);
}
.rating-paw--solid {
  background-color: var(--paw-color-solid);
}
.rating-paw--empty {
  background-color: var(--paw-color-empty);
}
.rating-paw--grad-20 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(19.99%, var(--paw-color-solid)), color-stop(20.01%, var(--paw-color-empty)));
  background-image: linear-gradient(to right, var(--paw-color-solid) 19.99%, var(--paw-color-empty) 20.01%);
}
.rating-paw--grad-40 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(39.99%, var(--paw-color-solid)), color-stop(40.01%, var(--paw-color-empty)));
  background-image: linear-gradient(to right, var(--paw-color-solid) 39.99%, var(--paw-color-empty) 40.01%);
}
.rating-paw--grad-60 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(59.99%, var(--paw-color-solid)), color-stop(60.01%, var(--paw-color-empty)));
  background-image: linear-gradient(to right, var(--paw-color-solid) 59.99%, var(--paw-color-empty) 60.01%);
}
.rating-paw--grad-80 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(79.99%, var(--paw-color-solid)), color-stop(80.01%, var(--paw-color-empty)));
  background-image: linear-gradient(to right, var(--paw-color-solid) 79.99%, var(--paw-color-empty) 80.01%);
}

/* ### Rating Paws END
/* ------------------------------------------------------------ */
/* ### Product Carsd START */
.products {
  overflow: hidden;
  height: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}
.products.hidden {
  display: none;
  height: 0;
}
.products__title {
  padding: 1rem 0;
  font-family: var(--ff-secondary);
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-title);
}

.products__wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.product-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
  border-radius: 1rem;
}
.product-card__image-wrapper {
  display: block;
  position: relative;
  border-width: 2px 2px 0 2px;
  border-color: var(--clr-lines);
  border-style: solid;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.product-card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}
.product-card__rating {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.33);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.product-card__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 1rem;
  border-width: 0 2px 0 2px;
  border-color: var(--clr-lines);
  border-style: solid;
  background-color: var(--clr-light);
}
.product-card__info {
  -ms-flex-item-align: self-start;
      align-self: self-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.product-card__title {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-title);
}
.product-card__byline {
  color: var(--clr-text);
  min-height: 2.6em;
}
.product-card__tags {
  padding: 0.5rem 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  color: var(--clr-grey-dark);
}
.product-card__details {
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.product-card__details[open] {
  background-color: white;
  margin-bottom: 1rem;
}
.product-card__details[open] > .product-card__details-content {
  border-color: var(--clr-lines);
  opacity: 1;
}
.product-card__details-title {
  padding: 0.5rem 0;
  color: var(--clr-text);
  font-weight: 600;
  background-color: var(--clr-light);
}
.product-card__details-content {
  padding-block: 1rem 0.5rem;
  padding-inline: 1rem;
  border: 1px solid;
  border-color: transparent;
  color: var(--clr-text);
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease, border-color 0.5s ease;
  transition: opacity 0.5s ease, border-color 0.5s ease;
}
.product-card__details-content h4 + p {
  margin-top: 0.5rem;
}
.product-card__details-content p + h4 {
  margin-top: 1.5rem;
}
.product-card__details-content p + p {
  margin-top: 1em;
}
.product-card__details-heading {
  font-size: 1.125rem;
  font-weight: 600;
}
.product-card__gender {
  margin-top: auto;
  padding: 0.75rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.5rem;
}
.product-card__price-quantity-group {
  -ms-flex-item-align: self-end;
      align-self: self-end;
  margin-top: 0.5rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.product-card__pricing {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.product-card__item-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 0.5rem;
}
.product-card__price {
  font-size: 1.5rem;
  color: var(--clr-text-green);
}
.product-card__price-unit {
  color: var(--clr-text);
}
.product-card__price-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5ch;
}
.product-card__original-price {
  font-size: 0.75rem;
  color: var(--clr-grey-dark);
  text-decoration: line-through;
}
.product-card__comparison-price {
  font-size: 0.75rem;
  color: var(--clr-grey-dark);
  text-align: center;
}
.product-card__quantifier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-title);
}
.product-card__quantifier-btn {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: inherit;
  border: solid var(--clr-lines);
  border-width: 1px 1px 1px 0;
  border-radius: 0 0.5rem 0.5rem 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: white;
}
.product-card__quantifier-btn:first-of-type {
  border-width: 1px 0 1px 1px;
  border-radius: 0.5rem 0 0 0.5rem;
}
.product-card__quantifier-btn:hover {
  background-color: #E2E3E5;
}
.product-card__quantifier-input {
  width: 4rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: inherit;
  border: solid var(--clr-lines);
  border-width: 1px;
}
.product-card__add-to-cart {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  color: var(--clr-light);
  line-height: 2rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--clr-dark);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.product-card__add-to-cart:hover {
  background-color: var(--clr-bg-green);
}
.product-card__add-to-cart .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: var(--clr-light);
}
/* ### Product Carsd END
/* ------------------------------------------------------------ */
/* ### Page Header START */
.header {
  z-index: 999;
  position: sticky;
  top: 0;
  width: min(100%, 1920px);
  margin-inline: auto;
  margin-bottom: 1rem;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__brand {
  padding: 0.5rem 2rem;
}
.header__brand > .icon {
  width: 11.25rem;
  height: 3rem;
  fill: var(--clr-light);
}
.header__nav {
  min-width: 100%;
}
.header__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.header__cart-btn {
  cursor: pointer;
  padding: 0 2rem 0 1rem;
  color: var(--clr-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.header__cart-btn > .icon {
  display: none;
  width: 2rem;
  height: 2rem;
  fill: var(--clr-light);
}
@media screen and (min-width: 720px) {
  .header__cart-btn > .icon {
    display: inline-block;
  }
}
.header__cart-total {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__cart-total {
    display: inline-block;
  }
}
.header__to-checkout-mobile {
  display: inline-block;
}
.header__to-checkout-mobile > .icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--clr-light);
  -webkit-transition: fill 0.15s ease;
  transition: fill 0.15s ease;
}
.header__to-checkout-mobile > .icon:hover {
  fill: var(--grey-light);
}
@media screen and (min-width: 720px) {
  .header__to-checkout-mobile {
    display: none;
  }
}
.header__to-checkout {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__to-checkout {
    cursor: pointer;
    position: relative;
    padding: 0 1rem;
    text-transform: uppercase;
    background-color: var(--clr-bg-green);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
  }
  .header__to-checkout.hidden {
    display: none;
  }
  .header__to-checkout::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
    width: 1rem;
    height: 1rem;
    background-color: inherit;
  }
  .header__to-checkout:hover {
    background-color: #6E6E6E;
  }
}
.header__cart-dropdown {
  display: block;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  translate: 100%;
  width: min(100vw, 400px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100vh - 4rem);
  background-color: white;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
  -webkit-transition: translate 0.5s ease;
  transition: translate 0.5s ease;
}
.header__cart-dropdown.active {
  visibility: visible;
  translate: 0;
}
@media screen and (min-width: 720px) {
  .header__cart-dropdown {
    max-height: calc(100vh - 5rem);
    border-radius: 0 0 0 1rem;
  }
}
.header__cart-dropdown-inner {
  overflow-y: hidden;
  display: block;
  padding-left: max(12px, var(--vwx) * 3.125);
}
@media screen and (min-width: 720px) {
  .header__cart-dropdown-inner {
    padding-left: 1.5rem;
    border-left: 2px solid var(--clr-lines);
  }
}
.header__cart-items {
  overflow-y: scroll;
  padding-right: max(12px, var(--vwx) * 3.125);
  max-height: calc(100vh - 10.25rem);
}
@media screen and (min-width: 720px) {
  .header__cart-items {
    padding-right: 1.5rem;
    max-height: calc(100vh - 11.25rem);
  }
}
.header__cart-summary {
  padding: 1rem 1rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.header__cart-label {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  color: var(--clr-text);
}
.header__cart-subtotal {
  font-size: 1rem;
  line-height: 1;
  color: var(--clr-grey-dark);
}
.header__cart-dropdown-checkout-btn {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  color: var(--clr-light);
  line-height: 2rem;
  background-color: var(--clr-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.header__cart-dropdown-checkout-btn:hover {
  background-color: var(--clr-bg-green);
}
.header__cart-dropdown-checkout-btn .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: var(--clr-light);
}
@media screen and (min-width: 720px) {
  .header__cart-dropdown-checkout-btn {
    border-radius: 0 0 0 1rem;
  }
}

/* ### Page Header END
/* ------------------------------------------------------------ */
/* ### Page Sidebar START */
/* ### Page Sidebar END
/* ------------------------------------------------------------ */
/* ### Page Main content START */
main {
  overflow: visible;
  width: 100%;
}

/* ### Page Main content END
/* ------------------------------------------------------------ */
/* ### Page Footer START */
.footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

/* ### Page Footer END
/* ------------------------------------------------------------ */
/* ### Page specific styles for: Home START */
/* ### Page specific styles for: Home END
/* ------------------------------------------------------------ */
/* ### Page specific styles for: About START */
/* ### Page specific styles for: About END
/* ------------------------------------------------------------ */
/* ### Page specific styles for: Shopping Cart START */
.shopping-cart {
  margin-bottom: 2rem;
}
@media screen and (min-width: 720px) {
  .shopping-cart {
    margin-top: 2rem;
  }
}
.shopping-cart.hidden {
  display: none;
}
.shopping-cart__wrapper {
  height: 100%;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 720px) {
  .shopping-cart__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0;
  }
}
.shopping-cart__wrapper.hidden {
  display: none;
  height: 0;
}

.cart, .checkout {
  width: 100%;
}
@media screen and (min-width: 720px) {
  .cart, .checkout {
    overflow: hidden;
    width: 50%;
    height: 100%;
  }
}

.cart__header, .checkout__header, .checkout__group-header {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-dark);
  font-family: var(--ff-primary);
  color: var(--clr-light);
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__header .icon, .checkout__header .icon, .checkout__group-header .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: var(--clr-light);
}

.cart {
  background-color: var(--clr-light);
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
  border-radius: 1rem;
}
@media screen and (min-width: 720px) {
  .cart {
    overflow: hidden;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: sticky;
    top: 5rem;
    margin-right: 0.5rem;
  }
}
.cart__header {
  border-radius: 1rem 1rem 0 0;
}
.cart__header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.cart__counter {
  color: var(--clr-grey-light);
}
.cart__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-family: inherit;
  font-size: 1.25rem;
  color: inherit;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.cart__close:hover {
  color: var(--clr-grey-light);
}
.cart__close:hover .icon {
  fill: #FF3D3D;
}
.cart__items {
  padding: 1rem;
  border-width: 0 2px;
  border-style: solid;
  border-color: var(--clr-lines);
}
.cart__item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0;
  list-style: none;
  display: grid;
  gap: 1rem;
  border-bottom: 1px solid var(--clr-lines);
}
.cart__item-content-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.cart__item-image-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  place-content: center;
}
.cart__item-image {
  display: inline-block;
  width: 5rem;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.cart__item-info {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}
.cart__item-title {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  color: var(--clr-title);
}
.cart__item-gender {
  line-height: 1;
  color: var(--clr-text);
}
.cart__item-price {
  line-height: 1;
  color: var(--clr-text-green);
}
.cart__item-controlls {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__item-quantity-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-title);
}
.cart__item-quantity-wrapper > button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: inherit;
  border: solid var(--clr-lines);
  border-width: 1px 1px 1px 0;
  border-radius: 0 0.25rem 0.25rem 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: white;
}
.cart__item-quantity-wrapper > button:first-of-type {
  border-width: 1px 0 1px 1px;
  border-radius: 0.25rem 0 0 0.25rem;
}
.cart__item-quantity-wrapper > button:hover {
  background-color: #E2E3E5;
}
.cart__item-quantity-wrapper > input {
  width: 3.75rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
  color: inherit;
  border: solid var(--clr-lines);
  border-width: 1px;
}
.cart__item-remove > .icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--clr-grey-dark);
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.cart__item-remove:hover > .icon {
  fill: var(--clr-text-red);
}
.cart__item-line-total-wrapper, .cart__summary-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.cart__item-label, .cart__summary-label {
  font-weight: 600;
  color: var(--clr-text);
}
.cart__item-line-total-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.cart__item-line-total {
  font-weight: 600;
  color: var(--clr-text-red);
}
.cart__item-original-price {
  color: var(--clr-grey-dark);
  text-decoration: line-through;
}
.cart__summary {
  padding: 1rem;
  border-width: 0 2px 2px;
  border-style: solid;
  border-color: var(--clr-lines);
  border-radius: 0 0 1rem 1rem;
  display: grid;
  gap: 0.75rem;
}
.cart__summary-label--large {
  font-size: 1.5rem;
}
.cart__summary-total {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 600;
}
.cart__summary-info {
  color: var(--clr-grey-dark);
}

.checkout {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border-radius: 1rem;
  background-color: transparent;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
}
@media screen and (min-width: 720px) {
  .checkout {
    margin-left: 0.5rem;
  }
}
.checkout__group {
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.33);
}
.checkout__header--first {
  border-radius: 1rem 1rem 0 0;
}
.checkout__group-info {
  padding: 1.5rem 0;
}
.checkout__group-inner {
  padding: 0 1rem 1rem;
  border: solid var(--clr-lines);
  border-width: 0 2px;
  background-color: var(--clr-light);
}
.checkout input::-webkit-input-placeholder {
  opacity: 0;
}
.checkout input::-moz-placeholder {
  opacity: 0;
}
.checkout input:-ms-input-placeholder {
  opacity: 0;
}
.checkout input::-ms-input-placeholder {
  opacity: 0;
}
.checkout input::placeholder {
  opacity: 0;
}
.checkout input:focus::-webkit-input-placeholder {
  color: var(--clr-grey-dark);
  opacity: 0.5;
}
.checkout input:focus::-moz-placeholder {
  color: var(--clr-grey-dark);
  opacity: 0.5;
}
.checkout input:focus:-ms-input-placeholder {
  color: var(--clr-grey-dark);
  opacity: 0.5;
}
.checkout input:focus::-ms-input-placeholder {
  color: var(--clr-grey-dark);
  opacity: 0.5;
}
.checkout input:focus::placeholder {
  color: var(--clr-grey-dark);
  opacity: 0.5;
}
.checkout__input-wrapper {
  position: relative;
}
.checkout__input-wrapper label:not(.chb-custom) {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: 100%;
  padding-left: 1rem;
  color: #767676;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: font-size 0.2s ease, padding 0.2s ease, top 0.2s ease, translate 0.2s ease;
  transition: font-size 0.2s ease, padding 0.2s ease, top 0.2s ease, translate 0.2s ease;
}
.checkout__input-wrapper input:not(.chb-custom > input, .rb-custom > input) {
  width: 100%;
  padding: 1.5rem 1rem 0;
  line-height: 2.375rem;
  font-size: 1.125rem;
  border: 1px solid var(--clr-lines);
  background-color: white;
  color: var(--clr-text);
}
.checkout__input-wrapper input:not(.chb-custom > input, .rb-custom > input):first-child:not(:-moz-placeholder-shown) ~ label {
  top: 0.75rem;
  translate: 0;
  padding: 0 0 0 0.75rem;
  font-size: 0.75rem;
}
.checkout__input-wrapper input:not(.chb-custom > input, .rb-custom > input):first-child:not(:-ms-input-placeholder) ~ label {
  top: 0.75rem;
  translate: 0;
  padding: 0 0 0 0.75rem;
  font-size: 0.75rem;
}
.checkout__input-wrapper input:not(.chb-custom > input, .rb-custom > input):first-child:focus ~ label, .checkout__input-wrapper input:not(.chb-custom > input, .rb-custom > input):first-child:not(:placeholder-shown) ~ label {
  top: 0.75rem;
  translate: 0;
  padding: 0 0 0 0.75rem;
  font-size: 0.75rem;
}
.checkout__input-wrapper--date-cvv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--clr-lines);
}
.checkout__input-wrapper--date-cvv input {
  border: none;
}
.checkout__input--expire-month {
  text-align: right !important;
  padding-right: 0.25rem !important;
  border: none !important;
}
.checkout__input--expire-year {
  text-align: left !important;
  padding-left: 0.25rem !important;
  border: none !important;
}
.checkout__date-cvv-divider {
  padding-top: 1.5rem;
  line-height: 2.375rem;
  font-size: 1.125rem;
}
.checkout__input-wrapper--intro {
  margin-bottom: 1rem;
}
.checkout__input-wrapper--billing {
  margin-bottom: 0.5rem;
}
.checkout__input-wrapper--date-cvv {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkout__input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.checkout__form-group-header-light {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: var(--clr-text);
  font-weight: 600;
}
.checkout__chb-single, .checkout__rb-single {
  margin-left: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.checkout__rb-row {
  margin-left: 0.75rem;
  padding: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}
.checkout__continue-btn {
  width: 100%;
  padding: 1.375rem;
  background-color: var(--clr-bg-green);
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1;
}
.checkout__rb-label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}
.checkout__shipping-price {
  color: var(--clr-grey-dark);
}
.checkout__shipping-alt {
  width: 100%;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  border-top: 1px solid var(--clr-lines);
}
.checkout__shipping-alt-info {
  margin-left: 0.75rem;
  padding-bottom: 0.75rem;
}
.checkout__date-cvv-divider {
  color: var(--clr-grey-dark);
}
.checkout__pay-btn {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  color: var(--clr-light);
  line-height: 2rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--clr-dark);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.checkout__pay-btn:hover {
  background-color: var(--clr-bg-green);
}
.checkout__pay-btn .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: var(--clr-light);
}

/* ### Page specific styles for: Shopping Cart END
/* ------------------------------------------------------------ */